---
export interface Props {
	title: string;
	date: string; // e.g. "May 2018"
}
const { title, date } = Astro.props;
---

<li class="flex flex-col justify-between gap-1 sm:flex-row sm:items-baseline">
	<p class="text-zinc-300">{title}</p>
	<p class="text-xs text-zinc-400">{date}</p>
</li>


