---
export interface Props {
	title: string;
	details: string; // e.g. "Faculty of..., 2nd place - ..."
	date: string; // e.g. "May 2018"
}
const { title, details, date } = Astro.props;
---

<li>
	<p class="font-medium">{title}</p>
	<p class="text-sm text-zinc-400">{details} · {date}</p>
</li>


